.dark-caramel-background{
    -fx-background-color: #5B3A29;
}

.caramel-background{
    -fx-background-color: #faf0e6;
}

.transparent-background {
    -fx-background-color: rgba(0,0,0,0);
}
.radius {
    -fx-background-radius: 100px;
}

.light-caramel-background{
    -fx-background-color: #FFFCFA ;
}

.incoming-bubble{
    -fx-background-color: #FFFFFF;
    -fx-background-radius: 100px;
}

.outgoing-bubble{
    -fx-background-color: #50C984;
    -fx-background-radius: 100px;
}